	html, body{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	body {
		background: url('../geile-img/hintergrund.png');

	}
	#einladung {
		background: url('../geile-img/einladung.png') no-repeat;
		width: 1007px;
		height: 788px;
		margin: 2em auto;
		cursor: pointer
	}
	#einladung #text {
		position: relative;
		top: 315px;
		left: 210px;
		width: 550px;
		font-family: 'Raleway', sans-serif;
		line-height: 1.5em;
	}
	#bayerisch {
		display: none;
	}
	#lang {
		position: absolute;
		top: 2em;
		left: 2em;
	}
	#lang-deutsch, #lang-bayerisch {
		opacity: 0.71;
		cursor: pointer;
	}
	#lang-deutsch:hover, #lang-bayerisch:hover {
		opacity: 1;
	}
	[class*=confetti] {
		position: absolute;
		height: 12px;
		opacity: 0.8;
		width: 12px;
		border-radius: 50%;
		-webkit-animation-iteration-count: infinite;
	}

	[class*=confetti]:nth-child(odd) {
		-webkit-animation-duration: 0.4s;
		-webkit-animation-name: confetti1;
	}
	[class*=confetti]:nth-child(even) {
		-webkit-animation-duration: 0.6s;
		-webkit-animation-name: confetti2;
	}

	@-webkit-keyframes confetti1 {
		0% {
		}
		50% {
			-webkit-transform: translateX(3px) rotateX(90deg) rotateY(45deg);
		}
		100% {
			-webkit-transform: rotateX(180deg) rotateY(45deg);
		}
	}
	@-webkit-keyframes confetti2 {
		0% {
		}
		50% {
			-webkit-transform: translateX(-3px) rotateY(90deg) rotateX(45deg);
		}
		100% {
			-webkit-transform:rotateY(180deg) rotateX(45deg);
		}
	}
